// Add your own CSS here!

:root {
  --light: #ffe6ef;
  --dark: #0000ff;
  --secondary: #0000ff;
  --tertiary: #91c4ce;
  --visited: #afbfc9;
  --primary: #ff809d;
  --gray: #313967;
  --lightgray: #dfe6fc;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #fff183bd;
}

[saved-theme="dark"] {
  --light: #000000 !important;
  --dark: #3aff96 !important;
  --secondary: #3aff96 !important;
  --visited: #9bbfab !important;
  --tertiary: #84a59d !important;
  --primary: #f582d1 !important;
  --gray: #d4eaea !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #ffd478;
}



